/* common shared  */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 18px 35px;
}
.section-title{
    color: var(--Dark-01, #181818);
text-align: center;
font-size: 35px;
font-weight: 700;
line-height: normal;
}
.section-description{
    color: #757575);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
}
/* nav related  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

.text-primary {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header style  */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner.profile-picture {
    width: 584px;
    height: 676px;
}

.banner-greting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-tittle {
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* main section style */

/* about section style  */
.about {
    padding: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin:130px 0:
}